<div class="admin-page">
    <div class="sidebar-button">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <div class="content-container">
        <div class="sidebar">
            <div class="option-btn">
                Classrooms
            </div>
            <div class="option-btn">
                Teachers
            </div>
            <div class="option-btn">
                Students
            </div>
        </div>
        <div class="content">
        </div>
    </div>
</div>

