
<div class="admin-page">
    <app-modal></app-modal>

    <div class="sidebar-button">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <div class="content-container">
        <div class="sidebar">
            <div class="pack-btn">
                <div class="option-btn" (click)="onOptionClick('classroom')">
                    Classrooms
                </div>
                <div class="create-wrapper" (click)="onCreateClick('classroom')">
                    <p>Create new Classroom +</p>
                </div>
            </div>
            <div class="pack-btn">
                <div class="option-btn" (click)="onOptionClick('teacher')">
                    Teachers
                </div>
                <div class="create-wrapper" (click)="onCreateClick('teacher')">
                    <p>Create new Teacher +</p>
                </div>
            </div>
            <div class="pack-btn">
                <div class="option-btn" (click)="onOptionClick('student')">
                    Students
                </div>
                <div class="create-wrapper" (click)="onCreateClick('student')">
                    <p>Create new Student +</p>
                </div>
            </div>
        </div>
        <div class="content-outer">
            <div class="content-inner">
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

