.admin-page {
    height: 100%;
    width: 100vw;
    background-color: lightgrey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content-container {
    width: 70%;
    height: 80%;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    height: 100%;
    background-color: #333;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pack-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-wrapper {
    color: white;
    font-weight: bold;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar .option-btn {
    width: 80%;
    padding: 2rem;
    background-color: lightgray;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.content-outer {
    background-color: bisque;
    padding: 3rem;
    overflow: hidden;
    
}

.content-inner {
    background-color: burlywood;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 3px solid burlywood;
}

.content {
    overflow: scroll;
}


.sidebar-button {
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    background-color: #333;
    top: 10px;
    left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}


.hidden {
    display: none;
}

.line {
    width: 80%;
    height: 3px;
    background-color: white;
    // margin: 5px;
    
}

