<div class="whole">
    <div class="modal">
        <div class="form-container">
            
            <form class="real-form">
                
                <div class="img-text">
                    <div class="img-container">
                        <img src="../../../../../assets/pexels-tima-miroshnichenko-6549356.jpg" alt="">
                    </div>
                    <div class="title-text">
                        <h1>Title</h1>
                    </div>
                </div>
                <div class="container container-info">
                    <div class="part">
                        <div>
                            <p>Name: </p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Last Name: </p>
                            <input type="text">
                        </div>
                        <div class="info-pack">
                            <div class="info-unit">
                                <p>Language</p>
                                <select name="" id="">
                                    <option value="">A1</option>
                                    <option value="">A1</option>
                                </select>
                            </div>
                            <div class="info-unit">
                                <p>Level</p>
                                <select name="" id="">
                                    <option value="">A1</option>
                                    <option value="">A1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <div>
                            <p>Street: </p>
                            <input type="text">
                        </div>
                        <div>
                            <p>City: </p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Country: </p>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="container container-btns">
                    <div class="btn-pack">
                        <div class="btn btn--cancel" (click)="onCancel()">Cancel</div>
                        <div class="btn btn--save" (click)="onSave()">Save</div>
                    </div>
                    <div class="btn btn--delete" (click)="onDelete()">Delete Forever</div>
                </div>
            </form>
        </div>
    </div>
</div>

