/* You can add global styles to this file, and also import other style files */

html, body { 

}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


