<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/download.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/download.png"  alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/download.png"  alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="cursos">
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Cursos</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>Espanhol - 2 anos </ng-template>
        </div>
        <div ngbAccordionBody>
          <ng-template>Alemão - 2 anos e meio</ng-template>
        </div>
        <div ngbAccordionBody>
          <ng-template>Ingles - 1 ano e meio</ng-template>
        </div>
      </div>
    </div>
  </div></div>
  <mat-list>
    <mat-list-item >It33em 1</mat-list-item>
    <mat-list-item >Item 2</mat-list-item>
    <mat-list-item >Item 3</mat-list-item>
  </mat-list>