<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre</h2>
            <h3 class="section-subheading text-muted">Sobre nossa carreira dentre estes 10 anos!</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Nosso humilde começo</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">O início de nossa escola de linguagens foi um momento significativo em nossa trajetória educacional. Com a visão de oferecer um ambiente acolhedor e inspirador para a aprendizagem de idiomas, abrimos as portas da escola com a missão de promover a fluência linguística, o entendimento intercultural e a comunicação eficaz.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">Um avanço imparavel</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Desde então, trabalhamos incansavelmente para criar programas educacionais de alta qualidade, capacitando nossos alunos a dominar diferentes línguas e explorar o mundo através da linguagem. Nossa dedicação à excelência e ao compromisso com o sucesso de nossos alunos continua a moldar o caminho para um futuro repleto de oportunidades e compreensão global.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transição para um grande serviço</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Através de programas educacionais de alta qualidade, professores experientes e recursos inovadores, nossa escola de linguagens está comprometida em capacitar nossos alunos a alcançar fluência linguística e abrir portas para um mundo de oportunidades e compreensão intercultural.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Como estamos atualmente</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">A escola de linguagens é um lugar de aprendizado e descoberta, onde os alunos têm a oportunidade de explorar e dominar idiomas de todo o mundo. Nossa escola se dedica a proporcionar um ambiente acolhedor e motivador, onde os alunos podem aprimorar suas habilidades de comunicação, desenvolver uma compreensão mais profunda de diferentes culturas e expandir suas perspectivas!</p></div>
                </div>
            </li>
           
        </ul>
    </div>
</section>
